<h1 *ngIf="content != null">{{content.message}}</h1>
<div class="container">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Tạo một tài khoản</h4>
      <p class="text-center">Để thăng hoa trong tình yêu của bạn</p>
      <p>
        <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i> Login via Twitter</a>
        <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i> Login via facebook</a>
      </p>
      <p class="divider-text">
        <span class="bg-light">OR</span>
      </p>
      <form #registerForrm="ngForm" (ngSubmit)="register(registerForrm)">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input name="name" required #name="ngModel" ngModel class="form-control" placeholder="Full name" type="text">
          <p *ngIf="name.invalid && name.touched">không để trống ten</p>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input name="email" email #email="ngModel" ngModel class="form-control" placeholder="Email address" type="email">
          <p *ngIf="email.invalid && email.touched">vd: your_email@gmail.com</p>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <input name="phone" required #phone="ngModel" ngModel class="form-control" placeholder="Phone number" type="text">
          <p *ngIf="phone.invalid && phone.touched">không để trống phone</p>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
          </div>
          <input name="username" required #username="ngModel" minlength="6" maxlength="15" ngModel class="form-control" placeholder="username" type="text">
          <p *ngIf="username.invalid && username.touched">username có từ 6 đến 15 ký tự</p>
        </div> <!-- form-group end.// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input class="form-control" name="password" required #password="ngModel" minlength="6" maxlength="15" ngModel placeholder="Create password" type="password">
          <p *ngIf="username.invalid && username.touched">password có từ 6 đến 15 ký tự</p>
        </div> <!-- form-group// -->
        <div class="form-group">
          Avatar
          <i class="bi bi-images"></i>
          <input type="file" (change)="uploadAvatar($event)">
          <img *ngIf="imageUrl != ''" width="50px" height="50px" [src]="imageUrl" alt="">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
        </div> <!-- form-group// -->
        <p class="text-center">Have an account? <a routerLink="/login">Log In</a> </p>


      </form>
    </article>
  </div> <!-- card.// -->

</div>
