<div class="padding">
  <div class="col-md-8">
    <!-- Column -->
    <div class="card"> <img class="card-img-top" src="{{provider.imageList[0]}}" alt="Card image cap">
      <div class="card-body little-profile text-center">
        <div class="pro-img"><img src="{{provider.avatar}}}" alt="user"></div>
        <h3 class="m-b-0">{{provider.name}}</h3>
        <p>{{provider.description}}</p> <a href="javascript:void(0)" routerLink="/order/{{provider.id}}" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true">Book ngay</a>
        <div class="row text-center m-t-20">
          <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">Tổng lượt xem trang</h3><small>{{provider.viewCount}}</small>
          </div>
          <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">Giới tính</h3><small>{{provider.gender}}</small>
          </div>
          <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">Năm Sinh</h3><small>{{provider.yearOfBirth}}</small>
          </div>
          <div class="col-lg-4 col-md-4 m-t-20">
          <h3 class="m-b-0 font-light">Email</h3><small>{{provider.email}}</small>
        </div>
          <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">Thành phố</h3><small>{{provider.city}}</small>
          </div>

          <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">Ngày tham gia</h3><small>{{provider.joinDate}}</small>
          </div>
          <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">Chiều cao</h3><small>{{provider.height}}</small>
          </div>
          <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">Sở thích</h3><small *ngFor="let hobby of provider.hobbyList">{{hobby.name}}</small>
          </div>
          <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">Trạng thái</h3><small>{{provider.isStatusProvider}}</small>
          </div>
          <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">Online</h3><small>{{provider.online}}</small>
          </div>
          <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">Các dịch vụ cung cấp</h3><small *ngFor="let service of provider.serviceByProviderList">Tên dịch vụ: {{service.name}}| Giá: {{service.price}}</small>
          </div>
          <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">Ảnh của cháu</h3><small *ngFor="let image of provider.imageList"><img src="{{image.name}}" alt=""></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
